.example-card {
    max-width: 400px;
}
.example-header-image {
    background-image:
url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/