<mat-list>
    <h3 mat-subheader>Products </h3>
    <mat-list-item *ngFor="let product of products; index as productId" 
    style="display: block;height: auto;padding: 10px;"
    [ngStyle]="{'background-color':productId%2?'gray':'#ffffff'}">
        <div>
            <h4 mat-line>
                <a [title]="product.name + ' details'" [routerLink]="['/products',productId]">
                    {{ product.name }}
                </a>
            </h4>
            <p mat-line *ngIf="product.description">
                description: {{ product.description }}
            </p>
            <app-product-alerts [product]="product" (notify)="onNotify()">
            </app-product-alerts>
            <button style="margin-left: 20px;" mat-raised-button color="primary" (click)="share()">Share</button>
        </div>

    </mat-list-item>
</mat-list>
<p>

    <button (click)="greeting()">greeting</button>
</p>
<p>
    
    <button [routerLink]="['/login']">User Login</button>
</p>
